body{
    font-family: "Jost", sans-serif;
    background-color: rgb(218, 253, 1863);
    color: rgb(1, 32, 48);
}
a{
    color: rgb(1, 32, 48);
    text-decoration: none;
    transition:  0.4s;
}
a:hover{
    color: rgb(69, 196, 176);
}

/* ------------------------------HEADER----------------------------------- */
/* ----------------------------------------------------------------------- */
#main h2{
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: -20px;
}
#main h3{
    margin-left: 10px;
    margin-bottom: -20px;
}
#main h4{
    padding-left: 10px;
    margin-bottom: 10px;
}
div span{
    margin-left: 10px;
}
div a{
    margin-left: 10px;
}
.flex_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
#skills .flex_container div {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.flex_container div img{

    padding: 10px;
    width: 50px;
}
#contact .flex_container div img{
    width: 50px;
    transition: all ease-in-out 0.4s;
    filter: grayscale(80);
}
#contact .flex_container div a :hover{
    filter: none;
    transform: translateY(-10px);
}
#main p{
    padding-left: 10px;
    padding-right: 10px;
}
#projectName h4{
    margin-top: 30px;
    margin-bottom: -10px;
}
#PicMain{
    padding-top: 50px;
    width: 100%;
}
#menu a{
    padding-right: 20px;
}
#contact h2{
    text-align: center;
    background-color: rgb(119, 199, 233);
}
#rainbow{
    transition:  0.3s;
}


/* ------------------------------grid----------------------------------- */
/* ----------------------------------------------------------------------- */
.grid-container{
    display: grid;
    grid-template-columns: 50% auto ;
    grid-gap: 10px;
    background-color: rgb(169, 244, 232);
}
#header{
    grid-column: 1 / span 1;
    background-color: rgb(  19, 103, 138);
    color: rgb(69, 196, 176);
    margin-right: -100px;
    padding-left: 30px;
}
#menu{
    grid-column: 2 / span 1;
    background-color: rgb( 19, 103, 138);
    font-size: 30px;
    padding-top: 20px;
    text-align: right;
}

#main{
    grid-column: 1 / span 1;
    padding-top: -30px;
    padding-bottom: 30px;
}
#PicMain{
    grid-column: 2 / span 1;
}
#skills{
    grid-column: 1 / span 2;
}
#contact{
    grid-column: 1 / span 2;
}

@media only screen and (max-width: 900px){
    .grid-container{
        display: grid;
        grid-template-columns:  auto ;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 1;
    }
    #menu{
        grid-column: 1 / span 1;
        text-align: left;
    }
    #main{
        grid-column: 1 / span 1;
    }
    #PicMain{
        grid-column: 1 / span 1;
    }
    #skills{
        grid-column: 1 / span 1;
    }
    #contact{
        grid-column: 1 / span 1;
    } 
}



